<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<ul>
    <th:block th:each="book : ${books}">
        <li>
            <img th:src="${book.imageUrl}" alt="Book Image" width="100">
            <h2 th:text="${book.title}"></h2>
            <p th:text="${book.author}"></p>
            <p th:text="${book.description}"></p>
        </li>
    </th:block>
</ul>
<a href="/addBook">Add Another Book</a>
</body>
</html>
