<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="cartStyles.css">
</head>
<body>
<h1>Your Cart</h1>
<div>
    <ul>
        <li th:each="item : ${cart.items}">
            <div>
                <h3 th:text="${item.book.title}">Book Title</h3>
                <p th:text="${item.book.author}">Author</p>
                <p th:text="${item.book.price}">Price</p>
                <p th:text="'Quantity: ' + ${item.quantity}">Quantity</p>
            </div>
        </li>
    </ul>
</div>
<a href="/">Back to Store</a>
</body>
</html>