<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items for Sale</title>
</head>
<body>
<h1>Items for Sale</h1>
<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}" ></td>
        <td th:text="${book.authorName}" class="vertical-line"></td>
        <td th:text="${book.description}" class="vertical-line"></td>
        <td th:text="${book.category}" class="vertical-line"></td>
        <td th:text="${book.price}" class="vertical-line"></td>
        <td th:text="${book.stock}" class="vertical-line"></td>

        <td class="vertical-line">
            <img  th:src="'data:image/jpeg;base64,' + ${book.imageBase64}" alt="Book Image"/>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
